<!DOCTYPE html>
<html>
<head lang="en">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/highcharts.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>


<!--<p id="na" hidden="hidden" >></p>-->
<p id="container"></p>


<h3 id="h3">图形正在加载中.....</h3>
<a href="download-csv" class="btn btn-primary">下载CSV</a>
</html>
<script>
    $(function () {

//    var result = $("#re").text();
//    var nameAll = $("#na").text();
        $.ajax({
            type: "get",
            url: "/chart_show",
            dataType: "json",
            success: function (result) {

                $("#h3").text("")


                $('#container').highcharts({
                    title: {
                        text: "各公司股票走势图",
                        style: {
                            color: '#2FA3E6'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '股价'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    xAxis: {

                        categories: result.time
                    },
                    series: result.series,
                    credits: {
                        enabled: false
                    }

                });
            }
        })

    })

</script>
