<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> 股价涨幅相关计算</h1>
    <p>Welcome to <%= title %></p>
  <a href="/csv" style="font-size: 28px; ">涨幅最大公司数据及各公司涨幅柱状图</a><br>
  <a href="/chart" style="font-size: 28px; ">各公司涨跌曲线图</a>
  </body>
</html>
